ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5d6d7e;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover:not(.active){
  background-color:#eff5f5;
  color: #5d6d7e;
}
.active {
  background-color: #4CAF50;
}
ul li {
  font-size: 24px;

}
ul li {
  display: inline;
}
.button {
  background-color: #4CAF50;
}
h1 {
  font-size:30px;
  padding: 10px 0 5px 0;
  margin: 10px 0 5px 0;
}
body {
  background-color:#eff5f5;
  padding: 20px 20px 20px 20px;
}
h1 {
  text-align: center;
  font-size: 60px;
}
img {
  padding-top: 50px;
  padding-right:500px;
  padding-bottom:50px;
  padding-left:80px;
}
